:root {
  --primaryColor: #f63e34;
  --primaryColorActivated: #c33129;
  --secondaryColor: #b7b7b7;
  --dangerColor: #dc3545;

  --text: #333333;
}
* {
  margin: 0;
  padding: 0;
}

body,
input {
  background-color: white;
  color: var(--text);

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}
h1 {
  font-size: 1.2em;
}
a {
  color: var(--primaryColor);
}

input {
  border-radius: 5px;
  padding: 10px 10px;
}

#root {
  display: flex;
}
.image {
  position: relative;
  top: 0;
  left: 0;
  &__backdrop {
    height: 100vh;
    width: 65vw;
  }
  &__outstem {
    position: absolute;
    top: 85vh;
    left: 1vw;
    width: 5vw;
  }
}
.sign-in {
  padding: 50px;

  display: flex;
  flex-flow: column nowrap;

  &__email {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    input {
      margin-bottom: 20px;
      border: 1px solid var(--secondaryColor);
    }
    input:focus {
      outline: none;
      border: 1px solid var(--primaryColorActivated);
    }
    input[type="submit"]:active {
      background-color: var(--primaryColorActivated);
    }
  }
  #google-button {
    background: none;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--secondaryColor);
    }
  }
}

button,
input[type="submit"] {
  color: inherit;
  border: 1px solid var(--secondaryColor);
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
input[type="submit"] {
  color: white;
  background-color: var(--primaryColor);
}

@media screen and (max-width: 1000px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-in {
    background-color: white;
    position: absolute;
  }
  .image__backdrop {
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  .sign-in {
    height: 100%;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
  }
}
